/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #b324ac #070d12;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #060a0d;
    border-radius: 20px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color:rgb(241, 241, 241);
    border-radius: 20px;
    border: 3px solid #060a0d;
  }